body{
  font-family: Arial, sans-serif;
  margin:0;
  background:#f5f5f5;
}

header{
  background:#111;
  color:#fff;
  padding:15px;
  text-align:center;
}

header h2{
  margin:0;
}

header input{
  width:100%;
  padding:10px;
  margin-top:10px;
  border-radius:6px;
  border:none;
}

.cats{
  padding:10px;
  text-align:center;
}

.cats button{
  margin:5px;
  padding:8px 14px;
  border:none;
  border-radius:20px;
  background:#222;
  color:#fff;
}

#grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:12px;
  padding:10px;
}

.card{
  background:#fff;
  padding:10px;
  border-radius:10px;
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
  text-align:center;
}

.card img{
  width:100%;
  border-radius:8px;
}

.card h4{
  margin:8px 0 4px;
  font-size:15px;
}

.card p{
  margin:4px 0;
  font-size:14px;
}

.card del{
  color:#999;
  font-size:13px;
}

.card button{
  margin-top:6px;
  padding:8px;
  width:100%;
  border:none;
  border-radius:6px;
  background:#25D366;
  color:#fff;
  font-size:14px;
}

.wa{
  position:fixed;
  bottom:15px;
  left:15px;
  right:15px;
  background:#25D366;
  color:#fff;
  padding:15px;
  border:none;
  font-size:16px;
  border-radius:10px;
}
.profile-pic{
  width:40px;
  height:40px;
  border-radius:50%;
  object-fit:cover;
  margin-bottom:8px;
  }
